<div class="row">
  <div class="col align-self-center text-md-center">
    <img src="{{ "img/widgets/newsletter.png" | relURL }}" alt="">
  </div>
  <div class="col align-self-center me-md-5 text-center text-md-start">
    <h2 class="h4 fw-bold">{{ i18n "newsletter_title" }}</h2>
    <p>{{ i18n "newsletter_body" }}</p>
    <form action="">
      <label for="email" class="form-label fw-bold">
        {{ i18n "newsletter_label" }}
      </label>
      <input type="email"
             aria-describedby="emailHelp"
             class="form-control"
             id="email"
             placeholder="{{ i18n "newsletter_placeholder" }}"
             style="max-width: 350px;">
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
        {{ i18n "newsletter_help" }}
      </div>
      <button type="submit" class="btn btn-dark mt-4">
        {{ i18n "newsletter_button" }}
      </button>
    </form>
    <p class="mt-3" style="font-size: 0.75em">
      <a href="#">{{ i18n "newsletter_provider" }} TinyLetter</a>
    </p>
  </div>
</div>
